---
import { z } from "astro:content";
import { newsSchema } from "@/content/config";
import { Icon } from "astro-icon/components";
import CommonLayout from "./CommonLayout.astro";
import { formatDate } from "@/lib/date";

type Props = {
  slug: string;
} & z.infer<typeof newsSchema>;

const { slug, title, emoji, tags } = Astro.props;

const publishedAt = formatDate(Astro.props.publishedAt);
---

<CommonLayout
  title={title}
  description="読書記録サービス「yondako」に関するお知らせページです"
  ogImage={`/api/og/${slug}.png`}
>
  <p class="mt-12 text-4xl md:text-5xl">{emoji}</p>
  <h1 class="mt-6 text-2xl font-bold md:text-3xl">{title}</h1>
  <div class="mt-3 flex items-center space-x-4">
    <div class="flex items-center space-x-1">
      {
        tags.map((name) => (
          <span class="block w-fit rounded-full bg-accent px-3 py-0.5 text-xs text-tertiary-background">
            {name}
          </span>
        ))
      }
    </div>
    <span class="text-sm text-secondary-foreground">{publishedAt}</span>
  </div>
  <article class="prose prose-stone mt-12 max-w-none">
    <slot />
  </article>
  <a
    class="mx-auto mt-12 flex w-full items-center justify-center space-x-1 rounded-full bg-accent px-5 py-3 text-sm text-primary-background transition hover:brightness-95 md:w-52"
    href="https://yondako.com/"
    target="_blank"
    rel="noopener noreferrer"
  >
    <span>yondakoを開く</span>
    <Icon name="external-link" class="h-4 w-4" />
  </a>
</CommonLayout>
