---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "../styles/global.css";

type Props = {
  title: string;
  description: string;
  ogImage?: string;
};

const { title, description, ogImage } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | yondako</title>

    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    {ogImage && <meta property="og:image" content={new URL(ogImage, Astro.url)} />}

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    {ogImage && <meta property="twitter:image" content={new URL(ogImage, Astro.url)} />}
  </head>
  <body
    class="bg-primary-background text-primary-foreground space-y-16 bg-[url('/gradation.webp')] bg-[length:45vw] bg-[top_-10vw_right] bg-no-repeat md:bg-[length:30vw] md:bg-[top_-8vw_right]"
  >
    <Header />
    <main class="mx-auto max-w-screen-lg px-16">
      <slot />
    </main>
    <Footer />
  </body>
</html>
